
* {
    font-family: 'Roboto', san-serif;  
}

body{
    margin: 0; 
    padding: 0; 
    background-color: #343531; 
    display: flex; 
}

h1 {
    font-size: 33px; 
    font-weight: 600; 
    padding: 200px 0; 
}

.sidebar {
    background-color: #202123; 
    width: 244px; 
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}

.main {
    background-color: white; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    justify-content: space-between; 
    height: 100vh; 
    width: 100%; 
}

input {
    border: none; 
    background-color: rgba(255, 255, 255, 0.5); 
    font-size: 20px; 
    width: 100%; 
    padding: 12px 15px; 
    border-radius: 5px; 
    box-shadow: rgb(0, 0, 0, 0.05) 0 54px 55px,
    rgb(0, 0, 0, 0.05) 0 -12px 30px,  
    rgb(0, 0, 0, 0.05) 0 4px 6px, 
    rgb(0, 0, 0, 0.05) 0 12px 13px, 
    rgb(0, 0, 0, 0.09) 0 -3px 5px; 
}

.searchsection{
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.input-container {
    width: 100%; 
    max-width: 650px; 
    position: relative; 
    padding-bottom: 30px; 
}

input:focus{
    outline: none; 
}
