<!DOCTYPE html>
<html>
  <head>
    <title>FactGPT</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel = "stylesheet" href="/static/index.css">
  </head>
  <body>
    <section class = "sidebar">
      <div class = "history"></div>
      <div class = "nav">
        <p></p>
      </div>
    </section>
    <section class = "main">
      <h1>FactGPT</h1>
      <p id = "output"></p>
      <div class = "searchsection">
        <div class = "input-container">
          <input type = "text" id = "input"> </input>
          <button class = "enterbutton" onclick = "SendMain()"> ➢ </button>
        </div>
      </div>
    </section>
    
    <p id="result"></p> --> 
  </body>
</html>