<!DOCTYPE html>
<html>
  <head>
    <title>FactGPT</title>
    <script src="{{ url_for('static', filename='script.js')}}?v=2"></script>

    <link rel = "stylesheet" href="{{ url_for('static', filename='index.css') }}">
  </head>
  <body>
    <div id="app">
      <div id="chat_container"></div>

      <form>
        
        <textarea name="prompt" rows="1" cols="1" placeholder="Write a message..."></textarea>
        <button type="submit">➢</button>

      </form>
    </div>
    
  </body>
</html>